* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* navbar */
#bg {
	background-image: url('./../images/bg2.jpg'); 
	background-color: gray;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}

#navbar {
	background-color: rgba(255, 255, 255, 0.7);
	border-bottom: 1.5px solid #bfb7a1; 
	text-transform: uppercase;
	font-size: .8rem;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 50;
}

/* navbar tabs */
li.nav-item p {
	font-weight: 900;
	font-family: 'Roboto', sans-serif;
	color: #141415;
}


/*navbar hover*/
li.nav-item:hover {
	background-color: rgba(87, 184, 255,0.5); 
	text-decoration: none;
	color: #FE6847;
	transition:	0.5s;
}

/*Navbar hover*/
header nav > a:visited, header nav > a:link {
	color: #141415;
}


/* Navbar Icon Gradient*/
.fa-address-card,
.fa-graduation-cap,
.fa-cogs,
.fa-file-signature,
a .fa-link {
	background: -webkit-linear-gradient(left,#07fae6,#d13313);
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
	text-shadow: 2px 4px 3px rgba(102,202,205,0.5)
}

/* Navbar Icon Size*/
.fa-address-card,
.fa-graduation-cap,
.fa-cogs,
.fa-file-signature,
.fa-link {
	font-size: 1.2rem;
}

/* Go top button icon color */
.fa-arrow-up {	
	color: rgba(209, 51, 19, 0.9);
}

/* Go to top */
.gotopbtn {
	position: fixed;
	width: 40px;
	height: 40px;
	background: rgba(7, 250, 230, 0.8);
	bottom: 40px;
	right:50px;
	border-radius: 8px;
	text-decoration: none;
	text-align: center;
	line-height: 40px;
	box-shadow: 3px 6px 4px #888888;
}

/* about me */

#facepic {
	width: 15rem;
}


.layer {
	background-color: rgba(176, 170, 155, 0.7);
	border-radius: 10px;
	transition: 1s;
}


#about h1 {
	font-family: 'Roboto Slab', serif;
	letter-spacing: 5px;
}

#about p {
	font-family: 'Roboto', sans-serif;
	opacity: 0.9
}

/* skills */
#skills {
	background-color: white;
}

#skills i.fa-microchip {
	font-size: 	5rem;
	background: -webkit-linear-gradient(left,orange,magenta);
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
}

#skills i.fa-bolt {
	font-size: 	5rem;
	background: -webkit-linear-gradient(left,yellow,cyan);
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
}

#skills i.fa-code {
	font-size: 	5rem;
	background: -webkit-linear-gradient(left,violet,skyblue);
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
}

#skills p.justify-content-center {
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	color: 	#141415;
	text-transform:  uppercase;	
	font-weight: 700;	
}

#skills p.proficiency {
	font-family: 'Roboto', sans-serif;
	font-size: 1.5rem;
	color: 	#141415;
	text-transform:  uppercase;	
	font-weight: 700;
	letter-spacing: 2px;	
}

#skills p.text-justify {
	font-family: 'Open Sans', sans-serif;
	line-height: 2rem;
	font-weight: 600;
}


#skills h1 {
	color: #FE6847;
	font-family: 'Roboto Slab' , serif;
	font-weight: 700;
	letter-spacing: 10px;
}

#skills .micro {
    background: -webkit-linear-gradient(left,orange,magenta);
 }

#skills .bolt {
	background: -webkit-linear-gradient(left,yellow,cyan);
}

#skills .code {
    background: -webkit-linear-gradient(left,violet,skyblue);
 }

/*education*/
#educbg	{
	background-color: #57B8FF;
}
#education h1  {
	color: rgba(0, 0, 0, 0.8);
	font-family: 'Roboto Slab' , serif;
	font-weight: 700;
	letter-spacing: 8px;
}	

#education .card {
	background-color: rgba(176, 170, 155, 0.7);
	transition: 1s;
}

#education .card .card-title {
	color: indigo;
	font-family: 'Robot', sans-serif;
	text-transform: uppercase;
	letter-spacing: 5px;
}

#education .card .card-text {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	color: #140D4F;
}

#education .card p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
}

#curve path, #curve-top path, #curve2 path, #curve2-a path {
	fill: white;
}

 

/*contact*/

#contact {
	background-color: white;
}

#contact h1 {
	color: #141415;
	font-family: 'Roboto Slab' , serif;
	font-weight: 700;
	letter-spacing: 10px;
	opacity: 0.8;
}

#contact h3 {
	color: #141415;
	font-family: 'Roboto Slab' , serif;
	font-weight: 700;
	opacity: 0.7;
}

#contact p, #contact .form-control {
	color: rgba(0, 0, 0, 0.5);
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}

#contact .form-control {
	background-color:  rgba(103, 103, 103, 0.3);
	border-bottom: 1px solid #141415;
	border-radius: 0;
}

#contact button {
	background-color:#f5f2d0;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	color: rgb(103, 103, 103);
	border: 1px solid #141415;
}


/*Connect*/
#connectbg {
	background-color: #2176AE;
}
#connect i {
	font-size: 3rem;
	transition: 1s;
}

#connect h1 {
	color: rgb(46, 44, 40);
	font-family: 'Roboto Slab' , serif;
	font-weight: 700;
	letter-spacing: 10px;
}

#connect a:link, #connect a:visited {
	color: rgb(46, 44, 40);
	transition: 1s;

}

#connect p {
	color: #141415);
	font-family: 'Open Sans' , serif;
	font-weight: 700;
	letter-spacing: 1px;
}

#connect p.footer {
	color: #141415;
	font-family: 'Roboto Slab' , serif;
	font-weight: 600;
	letter-spacing: 2px;
}

/*General Hover Effect*/

#about .layer:hover {
	transform: scale(1.1);
	background-color: rgba(38, 134, 125, 0.5);
}

#education .card:hover {
	transform: scale(1.1);
	background-color: rgba(153, 108, 18, 0.5);
}

#connect i:hover {
	transform: scale(1.3);
	color: white;
}


/*Set the media query for mobile*/
@media only screen  and (max-width: 400px) {
	#bg {
	background-color: rgba(87, 196, 255,0.5);
	background-image: url('./../images/bgsm.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	}
}

/*Set the media query for tablet*/
@media only screen and (min-width: 401px) and (max-width: 960px) {
	#bg {
	background-image: url('./../images/bg2.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	}

}

/*Set the media query for desktop*/
@media only screen and (min-width: 961px) {
	#contact div.text-center.-x {
		margin-left: 30px;
	}

	#contact div.text-center.x {
		margin-right: 30px;
	}
}


			
						